h1{
	color: darkred;
	font-family: verdana;
	font-size: 1em;
}

button{
	border: 2px solid darkred;
	border-radius: 26px;
	text-align: center;
	padding: 5px;
	background-color: darkred;
	width: 100px;
	margin :5px;
}

div{
	border: 2px solid darkred;
	border-radius: 26px;
	margin-left: 37%;
	margin-right: 30%;
	padding: 2%;
	width: 300px;

}

body{
	background-color: black;
	text-align: center;
}

button:hover{
	color:  darkred;
	background-color: black;

}

input{
	border-radius:26px ;
	background-color: black	;
	border: 2px solid darkred;
	font-size: 1.5em;

}