table{
	width: 25%;
	font: yellow;
	margin: auto;
}

body{
	text-align: center;
	color: yellow;
	background-color: black	;
}

button{
	border: 2px solid yellowgreen;
	border-radius: 26px;
	text-align: center;
	padding: 15px 32px;
	background-color: yellow;
	margin-top: 2%;
	width: 150px;
}

button:hover{
	color:  yellow;
	background-color: black;

}