body{
   background-color: hotpink;
}

.container{
    width: 70%;
    margin  : auto ;
    align-items: center;
    border: 2px solid rebeccapurple;
    border-radius: 16px;
}
input{
    margin: 20px;
    border-color: brown;
    border-radius: 16px;
    width: 250px;
    height: 70px;
    color: blue;
    font: 37px;
    font-family: Georgia;
}
button{
    padding: 20px;
    margin: 30px;
}
#result{
    background-color: aquamarine;
    text-align: center;
    padding: 30px;
    width: 40%;
    margin: auto;
    border: 2px solid black;
    border-radius: 50px;
}